html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
body
{
    margin: 0;
}
li{
    font-size: 2vh;
}
.header li{
    font-size: 2.5vh;
}
.home
{
    width: 1vh;
    height: 1vh;
}
.header
{
    opacity: 90%;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    margin: 0;
    padding: 1.5vh;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 10vh;

    justify-content: space-between;
    box-shadow: 0px 0px 30px rgb(0, 0, 0)
}
.header img
{
    width: 25vh;
}
.div1
{
    padding: 5vh;
    width: 100vh;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
    display: flex;

}
.navbar
{
    font-size: 3vh;
    list-style: none;
    display: flex;
    
}
.navbar a
{
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 300ms;
    border-radius: 2.5vh;
    padding: 1vh;
    padding-left: 2vh ;
    padding-right: 2vh ;
    font-weight: bold;
}
.navbar a:hover
{
  
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.47);
  color: rgb(0, 0, 0);
  transform: scale(1.1) ;
  background-color: rgb(255, 255, 255);
}
.navbar a:active
{
  transform: scale(0.9);
  background-color: rgb(136, 136, 136);
}
/* ----------------- section --------------*/
.onassec
{
  margin: 2vh;
  padding: 10vh;
  background-color: rgb(243, 243, 243);   
}
.onasd1
{
    display: flex;
    height: 50vh;
}
.onas-lewo
{
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5ch;
    width: 50%;
   
}
.onas-prwao
{
    height: auto;
    background: 
    linear-gradient(rgba(29, 29, 29, 0),
    rgba(243, 243, 243, 0.299)),
    url('../public/images/onas-image.png');
    width: 50%;
    height: auto;
    border-radius: 5vh;
    margin: 5vh;
    transition: 300ms;
}
.onas-prwao2
{
    height: auto;
    background: 
    linear-gradient(rgba(29, 29, 29, 0),
    rgba(243, 243, 243, 0.299)),
    url('../public/images/onas-image2.jpg');
    width: 50%;
    height: auto;
    border-radius: 5vh;
    margin: 5vh;
    transition: 300ms;
}
.onas-lewo a {color: black; text-decoration: none;  transition: 300ms;}
.onas-lewo a:hover {color: rgb(93, 93, 93); cursor: pointer;}

.onas-prwao:hover
{
    transform: scale(1.1);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.47);
}
.onas-prwao2:hover
{
    transform: scale(1.1);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.47);
}
.flex
{
    display: flex;
    gap: 10vh;
}
.onasd2
{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 50vh;
}
.partner
{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 33%;
    
}
.partner img { width: 100%; filter: grayscale(100%);transition: 300ms;}
.partner img:hover
{ 
    width: 100%;
    transform: scale(1.1);
    filter: grayscale(0%);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.47);
    border-radius: 2vh;
}
.p1
{
    font-size: 4vh;
    font-weight: bold;
}
.p2
{
    font-size: 2vh;
}
.footer
{
    display: flex;
    padding: 1vh;
}
.footer img { width: 5vh;}

.fot-div-l
{
    transition: 300ms;
    text-decoration: none;
    gap: 2vh;
    width: 33%;
    display: flex;
}
.fot-div-l:hover{  transform: scale(1.05)translateX(1vh);}

.fot-div-l label , a{ display: flex; cursor: pointer;color: black; text-decoration: none;}

.fot-div
{
    justify-content: center;
    text-align: center;
    gap: 2vh;
    width: 33%;
    display: flex;
}
.fot-div-r
{
    transition: 300s;
    justify-content: end;
    gap: 2vh;
    width: 33%;
    display: flex;
    transition: 300ms ;
}
.fot-div-r img
{
    transition: 300ms;
}
.fot-div-r img:hover
{ 
    transform: scale(1.1);
}
/* ----------------- OFERTA ----------------- */
.ofertasec {
    margin: 2vh;
    padding: 10vh;
    background-color: rgb(243, 243, 243);
}

.ofertad1 {
    display: flex;
    height: 50vh;
}

.oferta-lewo {
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5ch;
    width: 50%;
}
.oferta-prawo{
    background: 
    linear-gradient(rgba(29,29,29,0),
    rgba(243,243,243,0.3)), 
    url('../public/images/oferta-image.jpg');
    width: 50%;
    height: auto;
    border-radius: 5vh;
    margin: 5vh;
    transition: 300ms;
}
.oferta-prawo2 {
    background: 
    linear-gradient(rgba(29,29,29,0),
    rgba(243,243,243,0.3)), 
    url('../public/images/oferta-image2.jpg');
    width: 50%;
    height: auto;
    border-radius: 5vh;
    margin: 5vh;
    transition: 300ms;
}

.oferta-prawo:hover, .oferta-prawo2:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 40px rgba(0,0,0,0.47);
}

.oferta-lewo a {
    color: black;
    text-decoration: none;
    transition: 300ms;
}

.oferta-lewo a:hover {
    color: rgb(93,93,93);
    cursor: pointer;
}

.ofertad2 {
    height: 50vh;
}

.ofertad2 .flex {
    display: flex;
    gap: 10vh;
}

.ofertad2 .partner {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 33%;
}

.ofertad2 .partner img {
    width: 100%;
    filter: grayscale(100%);
    transition: 300ms;
}

.ofertad2 .partner img:hover {
    width: 100%;
    transform: scale(1.1);
    filter: grayscale(0%);
}

.p1 {
    font-size: 4vh;
    font-weight: bold;
}

.p2 {
    font-size: 2vh;
}
/* ----------------- KLIENCI ----------------- */   
.kliencisec {
    margin: 2vh;
    padding: 10vh;
    display: flex;
    height: 80vh;
    background-color: rgb(243, 243, 243);
    gap: 5vh;
}
.grid-lewo
{
    padding: 4vh;
    border-radius: 5vh;
    background-color: rgb(226, 226, 226);
    height: 77vh;
    width: 48%;
    transition: 300ms;
}
.grid-lewo:hover
{
    transform: scale(1.05);
    box-shadow: 0px 0px 40px rgba(0,0,0,0.47);
}

.grid-prawo
{
    transition: 300ms;
    padding: 4vh;
    border-radius: 5vh;
    float: right;
    background-color: rgb(226, 226, 226);
    height: 77vh;
    width: 48%;
}
.grid-prawo:hover
{
    transform: scale(1.05);
    box-shadow: 0px 0px 40px rgba(0,0,0,0.47);
}

.gridm
{
    background-color: white;
    border-radius: 5vh;
    padding-top: 2.5vh;
    padding-right: 2.5vh;
    padding: 2vh ;
    height: 25%;
    margin-top: 16.7vh;
}
.opinia
{
    background-color: rgb(255, 255, 255);
    border-radius: 5vh;
    display: flex;
    transition: 300ms;
    margin-top: 2ch;
}
.opinia:hover
{
    transform: scale(1.02);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.239);
}
.opinia img 
{
    transform: scale(0.9);
    margin: 1ch;
    border-radius: 50%;
    width: 8vh;
}
.nick
{
    font-weight: bold;
}
.zg { color: rgb(255, 221, 0);font-size:2.5vh ;}.sg { color: rgb(167, 167, 167);}
.gridmm
{
    width: 100%;
    height: 50%;
}
.gridmm img
{
    width: 100%;
    border-radius: 3vh;
}   
.kontaktsec {
    margin: 2vh;
    padding: 10vh;
    display: flex;
    height: 40vh;
    background-color: rgb(243, 243, 243);
    gap: 5vh;
}
.kontakt-lewo
{

    width: 60%;
    height: 100%;
}
.kontakt-lewo img
{
    transform: scale(0.7);
}
.kontakt-prawo
{
    justify-content: center;
    align-content: center;
}
.mapasec {
    margin: 2vh;
    padding: 4vh;
    display: flex;
    height: 60vh;
    background-color: rgb(243, 243, 243);
    gap: 5vh;
}
.mapa-lewo
{
    width: 70%;
}
.mapa-lewo iframe
{
    width: 100%;
    height: 100%;
}
.mapa-prawo 
{
   justify-content: center;
   align-content: center; 
}
.sklepsec {
    margin: 2vh;
    padding: 4vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    height: 75vh;
    background-color: rgb(243, 243, 243);
    
}
.sklepsec .p1
{
    text-align: center;
}
.pasek {
  gap: 1vh;
  overflow: hidden;
  width: 100%;
  display: flex;
}
.item {
  background-color: white;
  border-radius: 4vh;
  height: 55vh;
  margin: 10px;
  filter: blur(15);
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  width: 40vh;
  padding: 3vh;
}
.obraz 
{
    display: flex;
    height: 60%;
}
.obraz img
{
    height: 100%; 
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
}

